:root {
  --color-white: white;
  --color-black: black;
  --color-dark-brown: burlywood;
  --color-light-brown: bisque;
  --color-yellow: #ffff00;

  --spacing-medium: 20px;

  --transition: .4s

  --font-family-main: sans-serif;
  --font-size-header: 26px;

  --border-radius-small: 3px;

  --theme-default-header: #cccc46;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-brown);
  font-family: var(--font-family-main);
}

.header__text {
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition);
}