:root {
  --color-white: white;
  --color-black: black;
  --color-dark-brown: burlywood;
  --color-light-brown: bisque;

  --spacing-medium: 20px;

  --font-family-main: sans-serif;

  --border-radius-small: 3px;


}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-brown);
  font-family: var(--font-family-main);
}