:root {
  --font-size-small: 14px;
  --font-size-medium: 16px;

  --font-familt-main: sans-serif;
  --font-bold: 600;

  --color-white: #fff;
  --color-black: #000;
  --color-grey: #9c9c9c;
  --color-light-gray: #dfe2df;
  --color-blue: #6a83fb;

  --transition: .4s
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

img {
  display: block;
}


/* SCROLL */
* {
  scrollbar-color: rgb(37, 56, 97) #000;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(37, 56, 97);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-corner {
  background-color: #000;
}